<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  <head>
    <link rel="icon" href="../assets/img/mentor-logo.png">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  

  <body>
    
    <header class="header-container">
      <a href="https://seismic-d2.github.io" class="header-homelink">_ home</a>
      <div></div>
      <img src="../assets/img/logo-seismic.png" class="header-icon">
      <img src="../assets/img/logo-tricorn.png" class="header-icon">
      <img src="../assets/img/joinpage-emblem-sgj.png" class="header-icon">
      <img src="../assets/img/joinpage-emblem-sgp.png" class="header-icon">
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    <div style="height: 8rem;"></div>

  </body>

</html>
